<h1>This is the friendship show page</h1>
<p>Users can see their past interactions with this friend, and can chat with them using the chatbox</p>

<h1> Chat: </h1>

<div class="chatboxcontent">
    <% if @messages.any? %>
        <%= @messages %>
    <% else %>
      No messages
    <% end %>

    <div class="chatboxinput">
    <%= form_for @message, url: {action:"create"} do |f| %>
    <%= f.hidden_field, :recipient_id %>
    <%= f.text_field :content %>
    <%= f.submit "Create" %>
    <% end %>

    <div class="chat-form-btns">
         <%= f.submit "send", class: "btn btn-primary btn-sm btn-submit"%>
        <%= f.submit "New Title!", class: "btn btn-
         success btn-sm btn-new-title"%>
    </div>

  <% end %>

</div>
</div>

