<h1>This is the friendship show page</h1>
<p>Users can see their past interactions with this friend, and can chat with them using the chatbox</p>

<h1>Your conversation with <%= @friend.name %>:</h1>

<div id="makethisscrollable">
<% if @messages %>
  <% @messages.each do |message| %>
    <div>
      <%= message.body %>
      - <%= message.user.name %>
      - <%= message.created_at %>
    </div>
  <%end %>
<% end %>

</div>
<div>
  <% form_for :message, url: { action: "create", controller: "messages" }do |f| %>
  <%= f.text_field :body, :size => "60x12"%>
  <%= f.hidden_field :conversation, value: @conversation1.id  %>
  <%= submit_tag "Send" %>
<% end %>
</div>
