<%= render 'layouts/navigation' %>
<h1>Your Category</h1>

<p><%= @category.name %></p>

<!-- putting all people in this category here for now -->
<!-- implementing add friend button -->
<ul>
  <% @users_in_category.each do |user| %>
    <li><%= user.username %></li>
    <%= form_for :recipientid, :url => {:action=>"create", :controller=>"friend_requests"} do |f| %>
    <%= f.button "Add as Friend"%>
    <%= f.hidden_field :category_id, value: @category.id %>
    <%= f.hidden_field :recipient_id, value: user.id %>
    <% end %>
  <% end %>
</ul>

<div>
  <%#= render 'map_index' %>
</div>




