<%= render 'layouts/navigation' %>
<div class="user-signedit-container">
	<div class="user-signedit-box">

    <% if current_user.latitude == nil %>


      <%= render 'users/add_to_profile' %>


    <% else %>
    <h1>Edit Your Profile</h1>

    <%= flash[:error] %>


      <div class="row">

        <div id="user-signedit-form" class="large-12">
          <%= form_for :user, method: :put, url: user_path(current_user.id) do |f| %>

            <div class="row">
              <div class="large-4 columns"><label for="right-label" class="right">First name:</label>
              </div>
              <div class="large-8 columns"><%= f.text_field :name %>
              </div>
            </div>

            <div class="row">
              <div class="large-4 columns"><label for="right-label" class="right">Username:</label>
              </div>
              <div class="large-8 columns"><%= f.text_field :username %>
              </div>
            </div>

             <div class="row">
              <div class="large-4 columns"><label for="right-label" class="right">Email:</label>
              </div>
              <div class="large-8 columns"><%= f.text_field :email %>
              </div>
            </div>

            <div class="row">
              <div class="large-4 columns"><label for="right-label" class="right">Upload Profile Picture</label>
              </div>
              <div class="large-8 columns"><%= f.file_field :attachment %>
              </div>
            </div>

             <div class="row">
              <div class="large-4 columns"><label for="right-label" class="right">Tell us about your goals: </label>
              </div>
              <div class="large-8 columns">
            <div id="new-user-description"><%= f.text_area :about_me %></div>
              </div>
            </div>

             <div class="row">
              <div class="large-4 columns"><label for="right-label" class="right">Gender:</label>
              </div>
              <div class="large-8 columns"><%= f.select :gender, ['Female', 'Male']%>
              </div>
            </div>


            <div class="row">
              <div class="large-4 columns"><label for="right-label" class="right">Latitude:</label>
              </div>
              <div class="large-8 columns" id="latitude-fill">
              <%= f.text_field :latitude, class: 'latitude-val'%>
              </div>
            </div>

             <div class="row">
              <div class="large-4 columns"><label for="right-label" class="right">Longitude:</label>
              </div>
              <div class="large-8 columns" id="longitude-fill">
              <%= f.text_field :longitude, class: 'longitude-val'%>
              </div>
            </div>         

             <div class="row">
              <div class="large-4 columns"><label for="right-label" class="right"></label>
              </div>
              <div class="large-8 columns"><%= render 'map_show' %>
              </div>
            </div> 

             <div class="row">
              <div class="large-4 columns"><label for="right-label" class="right">Password:</label>
              </div>
              <div class="large-8 columns">       <%= f.password_field :password %>
              </div>
            </div>

             <div class="row">
              <div class="large-4 columns"><label for="right-label" class="right">Password Confirmation:</label>
              </div>
              <div class="large-8 columns"> <%= f.password_field :password_confirmation %>
              </div>
            </div>

            <%= f.submit "Update", :class => "myButton" %>

          <% end %>
        </div>
      </div>
      <% end %>

	</div>
</div>