<div>
	<ol class="curtains">
		<li class="cover">


				<div class="splash-box" >
				<div id="splash-box-1">

	

				<%= flash[:error] %>
				<%= form_tag '/login' do %>

				  Email: <%= text_field_tag :email %>
				  Password: <%= password_field_tag :password %>
				  <%= submit_tag "Submit" %>


				<% end %>
				<%= link_to "Sign in with Facebook", "/auth/facebook" %>

				</div>
			</div>
			<%= render 'user_index_header' %>


						<% if current_user %>
	  <p class="nav-bar-user">Signed in as <%= current_user.name%> <%=link_to "Profile", user_path(current_user.id) %> | <%= link_to "Logout", '/logout' %></p>
	<% else %>
	  <p class="nav-bar-user"><%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %></p>
	<% end %>
			
			<img class="splash-image" src="<%= asset_path( 'gg-splash.jpg' ) %>">
		</li>
		<li class="cover">

		
				
			<img class="splash-image" src="<%= asset_path( 'white-splash.jpg' ) %>">
		</li>
		<li class="cover">
			<div class="splash-box" id="splash-box-3">
				<h3>Text for the third splash box</h3>
				<p>Chambray tacos craft beer wolf. Chia green juice 3 wolf moon, stumptown neutra small batch 8-bit banjo letterpress tote bag farm-to-table vinyl umami next level yuccie. Vegan pour-over tacos, tattooed before they sold out yuccie master cleanse DIY bitters post-ironic tousled offal tote bag neutra. Meh drinking vinegar typewriter viral. Pitchfork flannel umami, cornhole pabst quinoa XOXO readymade put a bird on it ennui. Letterpress direct trade yr, skateboard godard quinoa drinking vinegar tousled viral etsy schlitz jean shorts. Try-hard fap disrupt, vice listicle chambray blue bottle affogato deep v 3 wolf moon echo park sriracha semiotics.</p>

				<p>Banh mi waistcoat irony pop-up bespoke. Everyday carry franzen whatever chia butcher. Taxidermy PBR&B narwhal, four dollar toast plaid pickled schlitz yuccie. Yuccie normcore jean shorts literally. Fap irony kombucha letterpress. Ennui sriracha four loko twee tilde helvetica. Sriracha tilde cornhole, gluten-free authentic austin tousled wayfarers try-hard freegan kinfolk selvage marfa.</p>

			</div>
			<img class="splash-image" src="<%= asset_path( 'shoes-splash.jpg' ) %>">
		</li>
		<li class="cover"><img class="splash-image" src="<%= asset_path( 'orange-splash.jpg' ) %>"></li>
		<li class="cover"><img class="splash-image" src="<%= asset_path( 'paddleboarding-splash.jpg' ) %>"></li>
		<li class="cover"><img class="splash-image" src="<%= asset_path( 'teal-splash.jpg' ) %>"></li>
		<li class="cover"><img class="splash-image" src="<%= asset_path( 'teens-splash.jpg' ) %>"></li>
	</ol>
	<div id="scrollUp"></div>
</div>

<%#= render 'location_all' %>












