<div id="signup-container">
	<div class="innards">

		<h1>Signup!</h1>



<%= form_for :user, url: '/users' do |f| %>
  Name: <%= f.text_field :name %>
  Username: <%= f.text_field :username %>
  Email: <%= f.text_field :email %>
  Quick Description: <%= f.text_field :about_me %>
  Birthdate: <%= f.date_select :birthdate, { :start_year => 1950, :end_year => 2015 } %>
  Gender: <%= f.select :gender, ['Female', 'Male']%>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>

	</div>
</div>

