
<%= render 'layouts/navigation' %>
  <div class="row">
    <div class="large-4 columns" style="text-align: left">
      <img class="profile-image" src="<%=@user.attachment%>">
    </div>
    <div class="large-8 columns">
      <% if @user == current_user  %>
        <p id="user-show-header">Hello <%= @user.name %>!</p>
        <p id="user-show-header-2"> What goals will you vanquish today?<p>
      <% else %>
        <p id="user-show-header"><%= @user.name %></p>
      <% end %>
        <div class="row">
          <ul class="large-block-grid-4" id="user-badges">


            <% if current_user %>
              <% if @accountabuddy_relationship == true %>
               <% @badges.order(:id).each do |badge| %>
                  <li> <img class="badge-image" src="<%= asset_path(badge.badge_image_link) %>">
                  <p> <%= badge.points %> victories</p>
                      <%= link_to "Endorse!", badge_path(badge.id), method: 'put' %>
                  </li>
                <% end %>
              <% elsif @inverse_accountabuddy_relationship %>
                   <% @badges.order(:id).each do |badge| %>
                  <li> <img class="badge-image" src="<%= asset_path(badge.badge_image_link) %>">
                  <p> <%= badge.points %> victories</p>
                      <%= link_to "Endorse!", badge_path(badge.id), method: 'put' %>
                  </li>
                <% end %>
              <% else %>
                <% @badges.order(:id).each do |badge| %>
                  <li> <img class="badge-image" src="<%= asset_path(badge.badge_image_link) %>">
                  <p> <%= badge.points %> victories</p>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
<div class="innards">

<div class="row">
  <div id="user-show-about" class="large-7 columns">
    <h2> About Me:</h2>
      <p>"<%= @user.about_me %>"</p>
  </div>
  <div id="user-show-categories" class="large-5 columns">
      <% if @user == current_user  %>
      <p id="user-show-categories-current">Current goals:</p>
      <p id="user-show-categories-new"><%= link_to "Start a new goal", categories_path %></p>
      <% end %>
  </div>
</div>
<div id="user-show-praise-container" class="row">
  <div id="user-show-praise" class="large-12 columns">
     <div class="row">
      <div class="large-2 columns">
      <ul>
        <li><img src="<%= asset_path( 'eunice-tea.jpg' ) %>"></li>
        <li><img src="<%= asset_path( 'eunice-tea.jpg' ) %>"></li>
      </ul>
      </div>
      <div class="large-10 columns">
        <h3>Recommendations</h3>
          
          <div id="recommendations">
          <% @recommendations.each do |recommendation| %>
            <div id="recommendation-text">
              "<%= recommendation.body %>"
              - <%= recommendation.user.name %>
              <img src="<%= recommendation.user.attachment%>">
              <br>
            </div>
          <% end %>
        </div>

          <% if current_user %>
            <% if @accountabuddy_relationship || @inverse_accountabuddy_relationship %>
            <%= link_to "Write a Recommendation!", recommendations_path, id: "recommendation-link" %>
              <div id="recommendation-box">
                Your Recommendation:
                <%= form_for :recommendation, url: '/recommendations', id: "recommendation-form" do |f| %>
                <%= f.text_field :body %>
                <%= f.hidden_field :recipient_id, value: @user.id %>
                <%= f.button "Submit" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
      </div>
     </div>
    <p>
  </div>
</div>
<% if @user == current_user %>
  <div class="row">
    <div id="user-show-friends" class="large-5 columns">

      <h2>Your Friends:</h2>
        <ul>
          <% @just_friends.each do |friendship| %>
              <%= link_to friendship_path(friendship.id) do%>
                 <li><%= friendship.friend.name %> : <%=friendship.category.name %></li>
              <% end %>
          <% end %>
        </ul>

         <h6 class="pending-sent">Pending Friend Requests You've Sent:</h6>
        <ul>
          <% @pending_requests.each do |pending_request| %>
           <li><%= pending_request.recipient.name %></li>
          <% end %>
        </ul>

        <h6 class="pending-sent">Friend Requests Awaiting Your Approval:</h6>

            <% @friend_requests.each do |friend_request| %>
              <ul>
              <li><%= friend_request.user.name %></li>
                <%= form_tag friend_request_path(friend_request.id), method: 'put' do %>
                <%= submit_tag "Accept" %>
              <% end %>
            <% end %>
            </ul>

    </div>
    <div id="user-show-accountabuddies" class="large-7 columns">

    <h2>Your AccountaBuddies: </h2>
      <ul>
        <% @accountabuddies.each do |accountabuddy| %>
              <%= link_to friendship_path(accountabuddy.id) do%>
                <li><%= accountabuddy.friend.name %>: <%= accountabuddy.category.name %></li>
              <% end %>
        <% end %>
      </ul>
      <ul>
        <h6> AccountaBuddy Requests Awaiting Your Approval:</h6>
        <% if @accountabuddy_requests %>
              <% @accountabuddy_requests.each do |request| %>

                <% if request.friendship.accountabuddy == true %>
                <% else %>
                  <li><%= request.user.name %></li>
                    <%= form_tag accountabuddy_request_path(request.id), method: 'put' do %>
                    <%= submit_tag "Accept" %>
                  <% end %>
                <% end %>
              <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>







  


    

  


</div>

<!-- Uncomment code in users_controller show to see these in action -->
<%#= render 'location_all' %>
<%#= render 'location_show' %>



<%#= render 'map_show' %>
