
<%= render 'layouts/navigation' %>
<div class="innards">
  <div class="row">
    <div class="large-4 columns">
      <img class="profile-image" src="<%= asset_path( 'eunice-tea.jpg' ) %>">
    </div>
    <div class="large-8 columns">
      <% if @user == current_user  %>
      <p id="user-show-header">Hello <%= @user.name %>!</p>
      <p id="user-show-header-2"> What goals will you vanquish today?<p>
      <% end %>
        <div class="row">
          <ul class="large-block-grid-4" id="user-badges">


            <% if current_user %>
              <% if @accountabuddy_relationship == true %>
               <% @badges.each do |badge| %>
                  <li> <img class="badge-image" src="<%= asset_path(badge.badge_image_link) %>">
                  <p> <%= badge.points %> victories</p>
                      <%= link_to "Endorse!", badge_path(badge.id), method: 'put' %>
                  </li>
                <% end %>
              <% elsif @inverse_accountabuddy_relationship %>
                   <% @badges.each do |badge| %>
                  <li> <img class="badge-image" src="<%= asset_path(badge.badge_image_link) %>">
                  <p> <%= badge.points %> victories</p>
                      <%= link_to "Endorse!", badge_path(badge.id), method: 'put' %>
                  </li>
                <% end %>
              <% else %>
                <% @badges.each do |badge| %>
                  <li> <img class="badge-image" src="<%= asset_path(badge.badge_image_link) %>">
                  <p> <%= badge.points %> victories</p>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
    </div>
  </div>

<h1> About:</h1>
  <ul>
    <li><%= @user.gender %></li>
    <li><%= @user.about_me %></li>
  </ul>

<%= link_to "Start a New Goal!", categories_path %>

<p>Your Accountabuddies: </p>
<ul>
  <% @accountabuddies.each do |accountabuddy| %>
    <li>
        <%= accountabuddy.friend.name %>
        <%= link_to "See Friendship", friendship_path(accountabuddy.id) %>
    </li>
  <% end %>
</ul>

<p>Accountabuddy Requests From:</p>
  <% if @accountabuddy_requests %>
        <% @accountabuddy_requests.each do |request| %>

          <% if request.friendship.accountabuddy == true %>
          <% else %>
            <li><%= request.user.name %></li>
              <%= form_tag accountabuddy_request_path(request.id), method: 'put' do %>
              <%= submit_tag "Accept" %>
            <% end %>
          <% end %>
        <% end %>
  <% end %>

<p>Your Friends:</p>
<ul>
  <% @just_friends.each do |friendship| %>
    <li>
      <%= friendship.friend.name %>
      <%= link_to "See Friendship", friendship_path(friendship.id)%>
    </li>
  <% end %>
</ul>

<p>Pending Friend Requests To:</p>
  <% @pending_requests.each do |pending_request| %>
    <li><%= pending_request.recipient.name %></li>
  <% end %>

    <p>Friend Requests From:</p>

        <% @friend_requests.each do |friend_request| %>

          <li><%= friend_request.user.name %></li>
            <%= form_tag friend_request_path(friend_request.id), method: 'put' do %>
            <%= submit_tag "Accept" %>
          <% end %>

        <% end %>

      </ul>
</div>


