<%= render 'layouts/navigation' %>
<div class="innards">

  <div class="row">
    <div class="large-7 columns">
      <h2>Chat With Your Friends</h2>
    </div>
    <div id="friendship-accountabuddy-request" class="large-5 columns">
      <%= flash[:error] %>
        <% if @friendship.accountabuddy == false%>
          <% if @friendship.accountabuddy_request %>
            <p>AccountaBuddy Request Sent<p>
          <% else %>
            <%= form_for :recipient, :url => {:action=>"create", :controller=>"accountabuddy_requests"} do |f| %>
            <% if current_user.id == @friend.id %>
            <%= f.button "Become AccountaBuddies with "+ @user.name, :class => "myButton"  %>
            <% else %>
            <%= f.button "Become AccountaBuddies with "+ @friend.name, :class => "myButton"  %>
            <% end %>
            <%= f.hidden_field :friendship_id, value: @friendship.id %>
            <%= f.hidden_field :recipient_id, value: @friend.id %>
            <% end %>
          <% end %>
        <% else %>
            Friendship Status: Accountabuddies
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-10 columns">
      <%= flash[:error] %>
        <div id="send-messages">
        <%= form_for :message, url: '/messages' do |f| %>
          <%= f.text_field :body, id:"message-input-box"%>
          <% if @conversation %>
          <%= f.hidden_field :conversation, value: @conversation.id  %>
            <% end %>
            <%= f.hidden_field :friendship, value: @friendship.id %>
    </div>
    <div class="large-2 columns">
            <%= f.submit "Send", :class => "myButton"  %>
          <% end %>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <% if current_user.id == @friend.id %>
      <h4 id="chat-history-header">Chat history with <%= link_to @user.name, user_path(@user.id) %>:</h4>
      <% else %>
      <h4 id="chat-history-header">Chat history with <%= @friend.name %>:</h4>
      <% end %>
        <% if @messages %>
        <ul id="messages">
          <% @messages.each do |message| %>
            <div id="specific-message">
              <%= message.body %>
              - <%= message.user.name %>
              - <%= message.created_at %>
            </div>
          <%end %>
        </ul>
        <% end %>
    </div>
  </div>

</div>








