<%= render 'layouts/navigation' %>
<div class="innards">
  <h1>This is the friendship show page</h1>
  <p>Users can see their past interactions with this friend, and can chat with them using the chatbox</p>

  <h3>You have been friends with <%= @friend.name %> since <%= @friendship.created_at %> </h3>


  <%= flash[:error] %>
  <% if @friendship.accountabuddy == false%>
    <% if @friendship.accountabuddy_request %>
      Accountabuddy Request Sent
    <% else %>
      <%= form_for :recipient, :url => {:action=>"create", :controller=>"accountabuddy_requests"} do |f| %>
      <%= f.button "Become Accountabuddies with "+ @friend.name %>
      <%= f.hidden_field :friendship_id, value: @friendship.id %>
      <%= f.hidden_field :recipient_id, value: @friend.id %>
      <% end %>
    <% end %>
  <% else %>
      Friendship Status: Accountabuddies
  <% end %>


  <h1>Your conversation with <%= @friend.name %>:</h1>

<% if @messages %>
<ul id="messages">
  <% @messages.each do |message| %>
    <div id="specific-message">
      <%= message.body %>
      - <%= message.user.name %>
      - <%= message.created_at %>
    </div>
  <%end %>
</ul>
<% end %>



<%= flash[:error] %>
<div id="send-messages">
<%= form_for :message, url: '/messages' do |f| %>
  <%= f.text_field :body, :size => "60x12", id:"message-input-box"%>
  <% if @conversation %>
  <%= f.hidden_field :conversation, value: @conversation.id  %>
    <% end %>
    <%= f.hidden_field :friendship, value: @friendship.id %>
    <%= f.submit "Send" %>
  <% end %>
  </div>

  <%= link_to "Back to Profile", user_path(current_user.id) %>
</div>
