<!-- CATEGORY MAPBOX FIND ALL FOR A CATEGORY-->
<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Geolocation</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>

<div id='map'></div>
<script>
L.mapbox.accessToken = '<%= @mapbox_token %>'

var geolocate = document.getElementById('geolocate');
var map = L.mapbox.map('map', 'mapbox.streets').setView([<%= current_user.latitude.to_f %> , <%= current_user.longitude.to_f %>], 16);
var myLayer = L.mapbox.featureLayer().addTo(map);


var geoJson = [];
<% @user_categories.each do |user_category| %>
      geoJson.push({
      type: 'Feature',
      geometry: {
      type: 'Point',
      coordinates: [<%= user_category.user.longitude %>, <%= user_category.user.latitude %>],
      },
      properties: {
        <% if user_category.category.name == "Fitness" %>
          'marker-color': '#498f87', //blue
        <% end %>
        <% if user_category.category.name == "Diet" %>
          'marker-color': '#dc854f',  //yellow
        <% end %>
        <% if user_category.user_id == current_user.id %>
        'marker-color': '#cc0066',
        'marker-symbol': 'star',
        'marker-size': 'large',
        'name': '<%= user_category.user.username%>',
        'about': 'You are Here',
        'url': "/users/"+ "<%=user_category.user_id%>",
        'user_id': '<%= user_category.user_id %>',
        'image': '<%=user_category.user.attachment %>'
        <% else %>
        'marker-symbol': 'circle',
        'marker-size': 'large',
        'name': '<%= user_category.user.username%>',
        'about': '<%= user_category.user.about_me%>',
        'url': "/users/"+ "<%=user_category.user_id%>",
        'user_id': '<%= user_category.user_id %>',
        'image': '<%=user_category.user.attachment%>'
        <% end %>


      }
    });
<% end %>


// Add custom popups to each using our custom feature properties
myLayer.on('layeradd', function(e) {
  var marker = e.layer,
  feature = marker.feature;
    // Create custom popup content
    var popupContent =  '<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
    '<img style="width:60px; height:60px" src="' + feature.properties.image + '" />' + "  " +
    '<span style="font-size:20px">'+feature.properties.name+'</span><br>' +
    '<span style="font-size:18px">'+feature.properties.about+'</span>'
    '</a>';
    // http://leafletjs.com/reference.html#popup
    marker.bindPopup(popupContent, {
      closeButton: true,
      minWidth: 320
    });
  });
// Add features to the map
myLayer.setGeoJSON(geoJson);
myLayer.on('mouseover', function(e) {
  e.layer.openPopup();
});

</script>
</body>
</html>
