<%= render 'layouts/navigation' %>

<div id="categories-show-container">
  <div id="categories-show-table">
    <table>
      <tr>
   	    <th><h1><%= @category.name %><h1></th>
      </tr>
        <%= flash[:error] %>

        <% if @user_category != true%>
        <%= form_for :category, :url => {:action=>"create", :controller=>"user_categories"} do |f| %>
          <div id="categories-show-subscribe"><%= f.button "Subscribe to " + @category.name.upcase + " so others can find me" %></div>
          <%= f.hidden_field :category_id, value: @category.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
        <% end %>
        <% end %>
     
      <% @users_in_category.each do |user| %>
      <tr>
        <td><%= link_to "#{user.username}", user_path(user.id) %></ltd>
      <% end %>

  </div>
</div>

<div id="categories-show-map">
  <%= render 'map_index_one_category' %>
</div>




