<%= render 'layouts/navigation' %>

<div class="innards">
<div id="side-bar">
	<h1>Your Category</h1>

	<p><%= @category.name %></p>
  <%= flash[:error] %>





  <% if @user_category != true%>
  <%= form_for :category, :url => {:action=>"create", :controller=>"user_categories"} do |f| %>
    <%= f.button "Subscribe to " + @category.name + " so others can find me!" %>
    <%= f.hidden_field :category_id, value: @category.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <% end %>

<div id="listing">
<!-- putting all people in this category here for now -->
<!-- implementing add friend button -->
<ul>
  <% @users_in_category.each do |user| %>
    <li><%= user.username %></li>
    <%= form_for :recipientid, :url => {:action=>"create", :controller=>"friend_requests"} do |f| %>
    <%= f.button "Add as Friend"%>
    <%= f.hidden_field :category_id, value: @category.id %>
    <%= f.hidden_field :recipient_id, value: user.id %>
    <% end %>
  <% end %>
</ul>
</div>
</div>

<div id="map">
  <%= render 'map_index' %>
</div>




