<h1>Location</h1>	
<p>Address<%= @user.address %></p>
<p>Latitude<%= @user.latitude %></p>
<p>Longitude<%= @user.longitude %></p>

<h3>Nearby friends</h3>
<ul>
	<% for user in @user.nearbys(10) %> 
		<li><%= link_to user.address, user %> (<%= user.distance.round(2) %> miles)</li>
	<% end %>
</ul>

