<h1>All User Locations</h1>
<%= form_tag users_path, :method => :get do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search Near", :name => nil %>
	</p>
<% end %>
<table>
	<tr>
		<th>Address</th>
		<th>Latitude</th>
		<th>Longitude</th>
	</tr>
	<% for user in @users %>
	<tr>
		<td><%= user.address %></td>
		<td><%= user.latitude %></td>
		<td><%= user.longitude %></td>
	</tr>
	<% end %>
</table>