<h1>Your Profile</h1>

<p>Your Accountabuddies: </p>
<ul>
  <% @accountabuddies.each do |accountabuddy| %>
    <li>
        <%= accountabuddy.friend.name %>
        <%= link_to "See Friendship", friendship_path(accountabuddy.id) %>
    </li>
  <% end %>
</ul>

<p>Your Friends:</p>
<ul>
  <% @just_friends.each do |friendship| %>
    <li>
      <%= friendship.friend.name %>
      <%= link_to "See Friendship", friendship_path(friendship.id)%>
    </li>
  <% end %>
</ul>

<p>Friend Requests From:</p>
<ul>

  <% @friend_requests.each do |friend_request| %>

    <li><%= friend_request.user.name %></li>
      <%= form_tag friend_request_path(friend_request.id), method: 'put' do %>
      <%= submit_tag "Confirm" %>
    <% end %>

  <% end %>

</ul>


