<!DOCTYPE html>

<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "AccountaBuddy" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js"></script>
  <link href="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css" rel="stylesheet" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>

  </header>

<%= flash[:error] %>

<%= yield %>

</body>
</html>


